Repository hmcts/pcq-frontend, pull requests merged in 2020-03, with the labels that each got.

#15 Fix accessibility link and update README
  README.md
  app/config.js
  app/resources/en/translation/static/accessibility.json
  app/steps/ui/static/cookies/template.html
Labels: ns:pcq, rel:pcq-frontend-pr-15

#16 Run unit and component tests in pipeline
  package.json
Labels: ns:pcq, rel:pcq-frontend-pr-16

#17 PCQ-116: Set phase to Alpha. Removed 'Why we are asking...' section on start page
  app/resources/cy/translation/common.json
  app/resources/en/translation/common.json
  app/steps/ui/startpage/template.html
  app/views/includes/two_thirds_form.html
  test/component/testStartPage.js
Labels: ns:pcq, rel:pcq-frontend-pr-17

#18 Persist answers as you go through the journey
  app/config.js
  app/core/runners/UIStepRunner.js
  app/core/steps/Step.js
  app/services/FormData.js
  app/services/Service.js
  app/steps/ui/endpage/index.js
  app/steps/ui/startpage/index.js
  app/utils/AsyncFetch.js
  app/utils/ServiceMapper.js
  charts/pcq-frontend/Chart.yaml
  charts/pcq-frontend/values.aat.template.yaml
  charts/pcq-frontend/values.preview.template.yaml
  charts/pcq-frontend/values.yaml
  package.json
  test/service-stubs/orchestration.js
  test/unit/services/testFormData.js
  test/unit/services/testService.js
Labels: ns:pcq, rel:pcq-frontend-pr-18

#19 PCQ-127-added intropage bdd and removed probate related stuff
  .gitignore
  steps.d.ts
  test/end-to-end/codecept.conf.js
  test/end-to-end/features/probate.feature
  test/end-to-end/pages/applicant/address.js
  test/end-to-end/pages/applicant/email.js
  test/end-to-end/pages/applicant/name.js
  test/end-to-end/pages/dateofbirth/dateofbirth.js
  test/end-to-end/pages/deceased/address.js
  test/end-to-end/pages/deceased/alias.js
  test/end-to-end/pages/deceased/dob.js
  test/end-to-end/pages/deceased/dobknown.js
  test/end-to-end/pages/deceased/dod.js
  test/end-to-end/pages/deceased/name.js
  test/end-to-end/pages/deceased/othernames.js
  test/end-to-end/pages/disability/disability.js
  test/end-to-end/pages/ethnicgroup/ethnicgroup.js
  test/end-to-end/pages/gendersameassex/gendersameassex.js
  test/end-to-end/pages/language/language.js
  test/end-to-end/pages/maritalstatus/maritalstatus.js
  test/end-to-end/pages/payment/govukconfirmpayment.js
  test/end-to-end/pages/payment/govukpayment.js
  test/end-to-end/pages/payment/paymentstatus.js
  test/end-to-end/pages/pregnant/pregnant.js
  test/end-to-end/pages/religion/religion.js
  test/end-to-end/pages/sex/sex.js
  test/end-to-end/pages/sexualorientation/sexualorientation.js
  test/end-to-end/pages/startpage/startpage.js
  test/end-to-end/pages/steps.js
  test/end-to-end/pages/steps_file.js
  test/end-to-end/pages/summary/summary.js
  test/end-to-end/pages/whiteethnicgroup/whiteethnicgroup.js
  test/end-to-end/paths/cookieBanner.js
  test/end-to-end/paths/standardExecutionPath.js
  test/end-to-end/paths/surveyLink.js
  test/end-to-end/probate-codecept.conf.js
  test/end-to-end/step_definitions/probatepcqjourney.js
  test/end-to-end/step_definitions/steps.js
  test/intro_test.js
Labels: ns:pcq, rel:pcq-frontend-pr-19

#23 Security tests setup in nightly pipeline
  .gitignore
  Jenkinsfile_nightly
  functional-output/.gitignore
  security.sh
Labels: WIP, ns:pcq, rel:pcq-frontend-pr-23

#28 PCQ-17 Add call to service endpoint
  test/end-to-end/features/probate.feature
  test/end-to-end/pages/startpage/startpage.js
  test/end-to-end/step_definitions/probatepcqjourney.js
  test/end-to-end/utils.js
Labels: ns:pcq, rel:pcq-frontend-pr-28

#31 Dac points
  app/assets/javascripts/back-button.js
  app/resources/cy/translation/endpage.json
  app/resources/en/translation/endpage.json
  app/steps/ui/endpage/template.html
  app/views/includes/layout.html
  test/accessibility/a11yTest.js
Labels: ns:pcq, rel:pcq-frontend-pr-31

#35 PCQ-103: Add tests for all options
  test/component/testDateOfBirth.js
  test/component/testDisability.js
  test/component/testDisabilityImplications.js
  test/component/testEthnicGroupAsian.js
  test/component/testEthnicGroupBlack.js
  test/component/testEthnicGroupMixed.js
  test/component/testEthnicGroupOther.js
  test/component/testEthnicGroupWhite.js
  test/component/testGender.js
  test/component/testLanguage.js
  test/component/testMaritalStatus.js
  test/component/testPregnant.js
  test/component/testReligion.js
  test/component/testSex.js
  test/component/testSexualOrientation.js
Labels: ns:pcq, rel:pcq-frontend-pr-35

#36 Change ingress host
  charts/pcq-frontend/Chart.yaml
  charts/pcq-frontend/values.yaml
Labels: ns:pcq, rel:pcq-frontend-pr-36

#38 PCQ-187: Remove cookie banner
  app.js
  app/assets/javascripts/cookie.js
  app/resources/cy/translation/common.json
  app/resources/en/translation/common.json
  app/views/includes/layout.html
  app/views/includes/scripts.html
Labels: ns:pcq, rel:pcq-frontend-pr-38

#37 PCQ-172: Add JWT auth
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  app/components/auth.js
  app/config.js
  app/core/steps/Step.js
  app/middleware/registerIncomingService.js
  app/services/FormData.js
  charts/pcq-frontend/Chart.yaml
  charts/pcq-frontend/values.preview.template.yaml
  charts/pcq-frontend/values.yaml
  package.json
  test/unit/middleware/testRegisterIncomingService.js
  test/unit/services/testFormData.js
  yarn.lock
Labels: ns:pcq, rel:pcq-frontend-pr-37
