Repository hmcts/pcq-frontend, pull requests merged in 2024-12, with the labels that each got.

#1283 Pcq 1986
  README.md
  app/components/string-utils.js
  package.json
  test/end-to-end/smoke/smoketest.js
  test/unit/components/testStringUtils.js
  test/unit/components/testVerifyToken.js
  test/unit/middleware/testRegisterIncomingService.js
Labels: ns:pcq, prd:pcq, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:pcq-frontend-pr-1283

#1351 Update chart to create a new image.
  charts/pcq-frontend/Chart.yaml
  package.json
Labels: ns:pcq, prd:pcq, rel:pcq-frontend-pr-1351

#1352 Revert redis helm release version to 20.3.0
  charts/pcq-frontend/Chart.yaml
Labels: ns:pcq, prd:pcq, rel:pcq-frontend-pr-1352
